.list ul li b{
  background:url(../images/settings.png) no-repeat 0 0; cursor:pointer !important;
}

.button {
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

#upload_tracks_list {
  padding-top: 4em !important;
}

#authors_nav li.current a {
  color: #1CADB0; 
}


.list.dir ul li.sb-book a{background:#F8F8F8 url(../images/sb_book_dir.png) no-repeat 1px -1px;}
.list.dir ul li.current a{background:#F8F8F8 url(../images/open_dir1.png) no-repeat 1px -1px;}

ul.ui-droppable {
  min-height: 7em;
  min-width: 7em;
}

#sidebar {
  height: 100%;
  z-index: 10;
}

#content {
  z-index: 12;
}

.wrap {
  z-index: 11;
}

.file-upload-dragover {}
.file-upload {
  min-height: 2em;
  min-width: 10em;
  cursor: pointer !important;
}

.file-upload input {
  display: none;
}


.file-upload-list {
}

.file-upload-list li {
  margin-top: 0.8em;
  margin-left: 1em;
  padding-left: 1.3em;
  max-width: 20em;
  background: url("../images/loading.gif") no-repeat;
}

.file-upload-dragover button.awesome {
  background-color: #E33100 !important;
}

button.awesome:hover {
  background-color: #E33100 !important;
}

button.awesome {
  background: #2DAEBF url(../images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer !important;
}

#trash {
  min-height: 10em;
  padding-top: 10em;
  vertical-align:bottom;
}


li.dropHere a {
  background-color: #E33100 !important;
}

.dropHere {
  background-color: #E33100 !important;
}

ul.album-photos li {
  float: left; 
  padding-left: 0.5em;
}

input.awesome {
  display: inline-block;
  padding: 5px 10px 6px;
  text-decoration: none;
  line-height: 1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-box-shadow: 0 3px 3px #999;
  -webkit-box-shadow: 0 1px 3px #299;
  text-shadow: 2 -1px 1px #222;
  border-bottom: 1px solid #222;
}

.all-docs {
  margin-top: 2em !important;
}

.collection .ui-droppable {
  background-color: #E33100 !important;
  min-height: 15em;
}
