<% render :partial => 'sidebar' %>

<% content_for :before_logo do %>
  <div class="temple"></div>
<% end %>

<% content_for :after_logo do %>
  <div class="quote">
    <p>“Этот сайт &ndash; форма признательности преданным слугам Господа, которые не позволяют мне оставить поиск Бесконечной, вечно Ускользающей и Увлекающей(ся) Красоты посвящена моему духовному поводырю Б.С. Говинде Махараджу”.</p>
    <p style="text-align: right;">Бхарати Свами</p>
  </div>
<% end %>

<div class="teachers">
  <div class="container">
    <h1>Учители <span>Бхакти</span></h1><!-- По семантике тег H1 должен встречаться 1 раз, не больше не меньше. На этой странице мне показалось, что H1 будет уместнее именно здесь, на внутряках, это лучше сделать в заголовках новостей. -->
    <p>Шри Чайтанья Сарасват Матх</p>
    <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->
      <% @acharya.each do |teacher| %>
        <li><%= link_to author_main_photo(teacher) + "<span>#{teacher.display_name}</span>".html_safe, teacher_show_path(teacher) %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="block events">
  <div class="title">События</div>
  <div class="text">
    <% @events.each do |event| %>
      <div class="item">
        <h2><%= link_to event.title, show_event_path(event) %></h2>
      </div>
    <% end %>
  </div>
  <div class="bottom"></div>
</div>
