<div class="new">
  <%= link_to big_thumb(album_item.cover), album_path(album_item) %>
  <div class="item">
    <div class="name"><%= link_to(album_item.title, album_path(album_item)) %></div>
    <div class="date"><%= d album_item.created_at %><br /><%= album_item.tracks_count %> аудиотреков</div>
  </div>
</div>
