<% sidebar do %>
  <div class="block playList">
    <div class="title">Треки альбома</div>
    <div class="text">
      <ul>
        <%= render :partial => 'track_item', :collection => @tracks %>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block playList">
    <div class="title">Вам понравится:</div>

    <div class="text">
      <ul>
        <li><a href="#">1. “Ложное эго – препятствие или помощь?”</a><div><span>Лекция от 12 октября 1987 года</span><br />18 апреля 2010</div></li>
        <li><a href="#">2. “Высшая планка религиозности”</a><div><span>Лекция от 12 октября 1987 года</span><br />18 апреля 2010</div></li>
        <li><a href="#">3. “Высшая планка религиозности”</a><div><span>Лекция от 12 октября 1987 года</span><br />18 апреля 2010</div></li>

      </ul>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
