<div id="context-menu"><div id="context-menu_in"><div id="context-menu_in2">
	<ul id="context-ul">
    	<li><a href="#" title="Add to My favorites">Add to My favorites</a></li>
        <li><a href="#" title="Donate to author">Donate to author</a></li>
        <li><a href="#" title="Subscribe this author">Subscribe this author</a></li>
        <li><a href="#" title="Send to my frend">Send to my frend</a></li>
        <li class="end"><%= link_to(strong('Download') + "( #{attachment_size} )", attachment_url, :title => "Download") %></li>
    </ul>
</div></div></div>
