<% item = kirtan_item  %>

<div class="item">
  <%= link_to cover_thumb(item), kirtans_show_path(item) %>
  <div class="name"><%= link_to "“#{item.title}”", kirtans_show_path(item) %></div>
  <div class="about">
  </div>
</div>
