<div class="pagenav">
  <% pages(@total_pages).each do |i| %>
    <% if i == @page %>
      <span><%= i %></span>
    <% else %>
      <%= link_to i.to_s, audios_path(:page => i) %>
    <% end %>
  <% end %>
  <a class="next" href=<%= audios_path(:page => @page + 1) %>>Следующая &gt;&gt;</a>
</div>
