<div id="popup_block">
  <h3 class="link_popup"><strong><%= ru_month @month %></strong></h3>
  <div id="popup_block_in" style="display: none;"><div id="popup_block_in2"><div id="popup_block_in3">
        <ul>
          <% @months_with_tracks.each do |month| %>
            <%= li_month(month) %>
          <% end %>
        </ul>
  </div></div></div>
</div>
