<div class="trackAuthor">
  <div class="trackPhoto"><%= track_img %></div>
  <div class="trackInfo">
    <div class="author"><span>Автор:</span> <%= @album.author.display_name %></div>
    <div class="tags"><%= tags %></div>

    <div class="download"><%= link_to "<b>&#160;</b><i>&#160;</i>скачать этот трек (25 Мб)".html_safe, @current_track.source.url %></div>
  </div>
</div>
