<div class="bookmarks">
  <ul>
    <% @current_track.bookmarks.each do |b| %>
      <li><%= link_to "#{b.str_time}&nbsp;&nbsp;#{b.name}".html_safe, '#', 'data-time' => b.time %></li>
    <% end %>
  </ul>
</div>
