<% include_js('player', 'bookmarks') %>

<%= render :partial => 'album_sidebar' %>
<%= render :partial => 'track_info' %>
<%= player %>
<% js_gen_player %>

<div class="block update">
  <div class="tabs">
    <ul>
      <li><a href="#" class="active"><b></b><u>Закладки</u><i></i></a></li>
      <li><a href="#"><b></b><u>Цитаты</u><i></i></a></li>

      <li><a href="#"><b></b><u>Конспект лекции</u><i></i></a></li>
    </ul>
  </div>
  <div class="tab-container lastTab active" id="tab-1">
    <%= render :partial => 'track_bookmarks' %>
  </div>
  <div class="tab-container audioTab" id="tab-2">
    <div class="quotes">
      <ul>
        <li>“Вайшнав - верящий в Бога как в Красоту”</li>
        <li>“Религия - правильное масштабирование себя по отношению к Богу”</li>

        <li>“Шаранагати означает вера в Самодура - счастливого, танцующего и поющего Господа”</li>
        <li>“В Мире нет ничего более могущественного, чем идея, время которой пришло”</li>
        <li>“Сладок хлеб раба Твоего”</li>
      </ul>
    </div>
  </div>
  <div class="tab-container" id="tab-3">

    <div class="synopsis">
      <h2>00.08 Три дочери Сваямбхувы Ману</h2>
      <p>октора ездили к Наташе и отдельно и консилиумами, говорили много по-французски, по-немецки и по-латыни, осуждали один другого, прописывали самые разнообразные лекарства от всех им известных болезней; но ни одному из них не приходила в голову та простая мысль, что им не может быть известна та болезнь, которой страдала Наташа, как не может быть известна ни одна болезнь, которой одержим живой человек: ибо каждый живой человек имеет свои особенности и всегда имеет особенную и свою новую, сложную, неизвестную медицине болезнь, не болезнь легких, печени, кожи, сердца, нервов и т. д., записанных в медицине, но болезнь, состоящую из одного из бесчисленных соединений в страданиях этих органов. Эта простая мысль не могла приходить докторам (так же, как не может прийти колдуну мысль, что он не может колдовать) потому, что их дело жизни состояло в том, чтобы лечить, потому, что за то они получали деньги, и потому, что на это дело они потратили лучшие годы своей жизни. Но главное — мысль эта не могла прийти докторам потому, что они видели, что они несомненно полезны, и были действительно полезны для всех домашних Ростовых. Они были полезны не потому, что заставляли проглатывать больную большей частью вредные вещества (вред этот был мало чувствителен, потому что вредные вещества давались в малом количестве), но они полезны, необходимы, неизбежны были (причина — почему всегда есть и будут мнимые излечители, ворожеи, гомеопаты и аллопаты) потому, что они удовлетворяли нравственной потребности больной и людей, любящих больную. Они удовлетворяли той вечной человеческой</p>
      <div class="pagenav">
        <span>1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a href="#" class="next">Следующая</a> <a href="#">>></a>

      </div>
    </div>
  </div>
  <div class="bottom"></div>
</div>
