<%= render :partial => 'author_sidebar' %>

<div class="trackAuthor lecture">
  <div class="trackPhoto"><%= random_author_photo(@current_author) %></div>
  <div class="trackInfo center">
    <h1>“...карма действует на нас в той области, в которой мы считаем себя деятелями...”</h1><!-- По семантике тег H1 должен встречаться 1 раз, не больше не меньше. На этой странице мне показалось, что H1 будет уместнее именно здесь, на внутряках, это лучше сделать в заголовках новостей. -->

    <p><a href="#">Слушать эту лекцию</a></p>
  </div>
</div>

<div class="block update">
  <div class="tabs">
    <ul>
      <li><a class="active" href="#"><b></b><u>Последнее</u><i></i></a></li>
      <li><a href="#"><b></b><u>Альбомы</u><i></i></a></li>

      <li><a href="#"><b></b><u>По годам</u><i></i></a></li>
    </ul>
  </div>
  <div class="tab-container lastTab active" id="tab-1">
    <%= render :partial => 'author_last_item', :collection => @last_tracks %>
  </div>
  <div class="tab-container audioTab" id="tab-2">
    <%= render :partial => 'album_item', :collection => @albums %>
  </div>
  <div class="tab-container" id="tab-3">
  </div>

  <div class="bottom"></div>
</div>
