<% include_js('player') %>

<%= render :partial => 'books_sidebar' %>
<%= player %>
<%= render :partial => 'books_track_info' %>
<% js_gen_player %>

<div class="block update">
  <div class="tabs">
    <ul>
    </ul>
  </div>
</div>
