<%= render :partial => 'author_sidebar' %>

<div class="temp-info">
  Внимание! 13 и 14 ноября трансляций не будет.
  <br />
  Ближайшие трансляции по blogtv.com:
  <ul>
    <li> 20 ноября в субботу - в 20:00 </li>
    <li> 21 ноября в воскресенье - в 12:45 </li>
  </ul>
  Время московское
  <a href='http://www.blogtv.com/People/radio_pravda' target='_blank'>смотреть здесь</a>
  <br />
  <br />
  Наши контакты:
  <ul>
    <li> phone: +7 964 578 56 77</li>
    <li> skype: <a href="skype:kanicadidi">kanicadidi</a> </li>
    <li> mail: <a href="mailto:tochka108@gmail.com">tochka108@gmail.com</a> </li>
  </ul>
  <br />
  <br />

  Дорогие друзья, нашему издательству требуется корректор с хорошим знанием русского языка и литературным вкусом для участия в издании Шримад Бхагаватам
</div>

<div class="lecture">
  <div class="custom-alert">
    На сайте появились <%= link_to 'События', events_path %>
  </div>
  <h1>В данный момент сайт находится в разработке и постоянно обновляется, в скором времени появятся другие разделы.</h1><!-- По семантике тег H1 должен встречаться 1 раз, не больше не меньше. На этой странице мне показалось, что H1 будет уместнее именно здесь, на внутряках, это лучше сделать в заголовках новостей. -->
</div>

<div class="block last-audio">
  <div class="title">Последнее аудио</div>
  <div class="text">
    <%= render :partial => 'last_item', :collection => @audios %>
    <%= pages(@audios) %>
  </div>
  <div class="bottom"></div>
</div>

<%#= render :partial => 'shared/tags' %>
