<%= render :partial => 'author_sidebar' %>

<div class="block last-audio">
  <div class="title">Последнее аудио</div>
  <div class="text">
    <%= render :partial => 'last_item', :collection => @audios %>
    <%= pages(@audios) %>
  </div>
  <div class="bottom"></div>
</div>

<%#= render :partial => 'shared/tags' %>
