<div id="content">

  <div class="block search">
    <div class="title"><small>1. “Ложное эго - препятствие или помощь?”</small></div>
    <div class="text">
      <div class="item">
        <a href="#"><img width="80" height="97" alt="" src="pics/photo.png"></a>
        <div class="name"><a href="#">“<span class="red">Совесть</span> - наш первый советник”</a></div>
        <p>Лекция от 12 октября 1987 года<br>Шридхар Махарадж</p>
        <div class="date">18 апреля 2010</div>
      </div>
      <div class="item">
        <a href="#"><img width="80" height="97" alt="" src="pics/photo.png"></a>
        <div class="name"><a href="#">“Высшая <span class="red">планка</span> религиозности”</a></div>
        <p><span class="red">Лекция</span> от 12 октября 1987 года<br>Шридхар Махарадж</p>
        <div class="date">из альбома <a href="#">“Мгновения Прекрасной Реальности”</a> 18 апреля 2010</div>
      </div>
      <div class="pagenav">
        <span>1</span> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a> <a class="next" href="#">Следующая</a> <a href="#">&gt;&gt;</a>
      </div>
    </div>
    <div class="bottom"></div>
  </div>

</div>
