<div class="item">
  <% if false %>
    <a href="#"><img width="91" height="119" alt="" src="http://192.168.1.100:8000/<%= last_item.cover_attachments[0] %>"></a>
  <% end %>
  <div class="name"><%= link_to "“#{last_item.title}”", show_publication_path(last_item) %></div>
  <div class="about">
    <span>Тип:</span> книга<br>
  </div>
  <p><%= last_item.description.truncate(100) %></p>
  <div class="date"><%= d last_item.created_at %></div>
</div>
