<% sidebar do %>
  <div class="block book">
    <div class="title">Книга</div>
    <div class="text">
      <table>
        <tbody><tr>
            <th>Автор</th>
            <td><a href="#">Шридхар Махарадж</a></td>
          </tr>
          <tr>
            <th>Перевод</th>
            <td><a href="#">Бхарати Махарадж</a></td>
          </tr>
          <tr>
            <th><img alt="" src="/images/tags.png"></th>
            <td><a href="#">совесть</a>, <a href="#">эго</a>, <a href="#">препятствия</a>, <a href="#">помощь</a>, <a href="#">вера</a></td>
          </tr>
      </tbody></table>
      <p><%= @publication.description %></p>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
