<div id="album_form_menu">
  <ul class="form_edit tabs_control" data-tabsId="album_form_tabs">
    <li class="active"> <%= link_to 'Basic' %> </li>
    <li> <%= link_to 'Cover' %>  </li>
    <li> <%= link_to 'Photos' %> </li>
  </ul>
  <img id="album_button_save" src='/images/saved.png' />
</div>

<div id="album_form_tabs">
</div>
