<ul class="form_edit tabs_control" data-tabsId="main_tabs">
  <li class="active"> <%= link_to 'Последние' %> </li>
  <li> <%= link_to 'Альбомы' %> </li>
  <li> <%= link_to 'Года' %>    </li>
</ul>
<br/>
<br/>
<br/>
<div id="add_new_track">
</div>
