<%# include_js('admin/utils', 'admin/controls', 'admin/form_base', 'admin/track_form', 'admin/tracks', 'admin/albums', 'admin/album_form', 'admin/form_manager') %>


<div class="tabs">
  <%= render :partial => 'tabs' %>
</div>

<div class="cnt active" id="cnt-1">
  <div class="newTrack">место для кнопочки добавления файла</div>

  <div class="list">
    <ul>
      <%= render :partial => 'audio_item', :collection => @audios %>
    </ul>
    <ol>
      <li><span>Страницы:</span></li>
      <li><a class="active" href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
    </ol>
  </div>

  <%= render :partial => 'track_form' %>
</div>
