<% include_js('admin/models', 'admin/utils', 'admin/controls', 'admin/form_base', 'admin/authors_list', 'admin/author_form') %>

<div id="authors-list" class="files">
</div>

<div id="author-form">
</div>
<img id="button-save-author" class="button_save" src='/images/saved.png' />
