<ul>
<li>
<%= link_to 'authors', admin_authors_path %>
</li>
<li>
<%= link_to 'videos', admin_videos_path %>
</li>
<li>
<%= link_to 'audios', admin_audios_path %>
</li>
<li>
<%#= link_to 'centers', admin_centers_path %>
</li>
<li>
<%= link_to 'albums', admin_albums_path %>
</li>
</ul>
