.list ul li b{
  background:url(../images/settings.png) no-repeat 0 0; cursor:pointer !important;
}

.button {
  cursor: pointer;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border: none;
}

#upload_tracks_list {
  padding-top: 4em !important;
}

#authors_nav li.current a {
  color: #1CADB0; 
}
