ul {
  list-style-type: none;
}

form ul {
  padding-left: 1em;
}

form ul li input[type="checkbox"] {
  padding-right: 2em;
}

form ul li label {
  width: 40%;
}

#tracks li img {
  margin-right: 1em;
}

img.handle  {
  cursor:move;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline
}

a.delete {
  text-decoration: none;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
  border: none;
}

a.delete img {
  width: 150;
  height: 50;
  border: none;
  padding: 0 0 0 0;
  margin:  0 0 0 0;
}

ul.albums li {
  width: 70%;
}

ul.albums li label {
  width: 1em;
}

ul.albums li a {
  margin-left: 2em;
}



