img.year-folder {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}



.yearsTab .new img {
  height: 48px;
  width: 48px;
  margin-top: 0;
}

img.beta {
  position:absolute;
  left:280px;
  top:7px;
}

div.custom-alert {
  font-size: 130% !important;
  margin-bottom: 1em;
}

div.custom-alert a {
  text-decoration: underline;
}

div.temp-info {
  margin-bottom: 1em;
}

div.temp-info ul li {
  list-style:none; 
}

div.temp-info a {
  text-decoration: underline;
}

li.bookmark-text-only {
  color: white;
}

.update .item {
  min-height: 5em;
}

.album-cover li {

}

#main {
  min-height: 50em;
}

.hide {
  display: none;
}

#main a.cool { width: 112px; height: 27px; background: url("../images/butt4.gif") no-repeat; padding: 6px 0 0; text-align: center; display: block; font-size: 16px; float: left; margin: 0 5px 0 0; }	

#fuzz{ position:absolute; top:0; left:0; width:100%; z-index:100; background: #333; display:none; text-align:left; }
.cool {
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); /* IE 5.5+*/
  -moz-opacity: 0.5; /* Mozilla 1.6 и ниже */
  -khtml-opacity: 0.5; /* Konqueror 3.1, Safari 1.1 */
  opacity: 0.5; /* CSS3 - Mozilla 1.7b +, Firefox 0.9 +, Safari 1.2+, Opera 9 */
}
