div.string, .file, .autocomplete, .date, .email, .select, .attachment, .password, .tags_autocomplete, .marks_autocomplete {
  margin: 1em 0 0 0;
}

.hide {
  visibility:hidden;
}

div.pagination {
  margin: 2em 0 0 0;
}

a img {
  border: none;
}

#main_w li#link_to_change_style {
  padding: 0em 0em 0em 1em;
  border-left:  black 1px solid;
}

#main li#link_to_change_style {
  padding: 0em 0em 0em 1em;
  border-left:  white 1px solid;
}

.ui-dialog { 
  font-size:62.5% !important;
}

ul.numeric {
  list-style-type: decimal
}

ul.bookmarks {
  padding-left: 40px;
}

.bg_right {
  visibility:hidden;
}

.bg_right .share {
  padding-right: 20px;
}

.bg_right .user {
  padding-right: 20px;
}

.bm-active .bg_right {
  visibility:visible
}

.bm-active .del {
  visibility:visible !important;
}

.bm .del {
  visibility:hidden;
}

#mp3_uploadQueue {
  width: 100%;
  float: left;
}

#img_loader {
  float: left;
}
