<div class="block audios videos">
  <div class="title">Видео альбома</div>
  <div class="text">
    <%= render :partial => 'item', :collection => @videos %>
  </div>
  <div class="bottom"></div>
</div>
