<% sidebar do %>
  <div class="block lect">
    <div class="title">Лекции Учителей</div>

    <div class="text">
      <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->
        <%= render :partial => 'shared/author_item', :collection => @acharya %>
      </ul>
    </div>

    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title">Лекции Проповедников</div>
    <div class="text">
      <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->
        <%= render :partial => 'shared/author_item', :collection => @authors %>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
