<div id="pop" class="hide">
  <div class="btabs">
    <div class="logo">
      Бхарати.<span>ру</span>
    </div>
    <div class="tabs">
      <ul>
        <li><a href="#" class="active" rel="0"><b></b><u>ВХОД</u><i></i></a></li>
        <li><a href="#" class="" rel="1"><b></b><u>РЕГИСТРАЦИЯ</u><i></i></a></li>
      </ul>
    </div>
    <div class="cl"></div>
    <%= render :partial => 'shared/login_form' %>
    <%= render :partial => 'shared/registr_form' %>
    <div class="cl">

    </div>
  </div>
  <a href="#" class="close"></a>
</div>
