<div class="tab-container active" id="tab-1">
  <div class="box">
    <form method="post" id="login-form" data-remote="true" action="<%= login_path %>">
      <div class="errors"></div>
      <p class="r-tit">Email или Имя</p>
      <div class="inp">
        <input id="you_proj_input" type="text" name="user[login]">
      </div>

      <p class="r-tit">Пароль (<a href="#">забыли свой пароль?</a>)</p>
      <div class="inp">
        <input type="password" id="" name="user[password]">
      </div>

      <p class="r-tit"><input type="checkbox" name="remember_me" id="lab2"> <label for="lab2">Запомнить</label></p>

      <a href="#" class="butt">Войти</a>
      <div class="cl"></div>
    </form>
  </div>
</div>
