<div id="main-menu">
  <div id="main-menu_in">
    <div id="main-menu_in2">
      <ul id="main-menu_l">
        <li><a href="#" title="Main page">Main page</a></li>
        <li><a href="#" title="News">News</a></li>
        <li><a href="#" title="Authors">Authors</a></li>
        <li><a href="#" title="Addressbook">Addressbook</a></li>
        <li><a href="#" title="Photo">Photo</a></li>
        <li><a href="#" title="Audio">Audio</a></li>
        <li><a href="#" title="Video">Video</a></li>
        <li><a href="#" title="Books">Books</a></li>
        <li><a href="#" title="Calendar">Calendar</a></li>
        <li><a href="#" title="Contacts">Contacts</a></li>
        <li class="end"><a href="#" title="Help">Help</a></li>  
      </ul>

      <% unless current_user.logged_in? %>
        <ul id="main-menu_r">
          <li><%= link_to 'Registration', new_user_path, :title => "Registration" %></li>
          <li class="end"><%= link_to "Enter", '#', :class => 'login', :title => "Enter" %></li>
          <%= render :partial => 'shared/login_dialog' %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
