<div id="footer">

  <div class="bg"></div>
  <div class="container">
    <div class="copyright">© 2010 bharati.ru</div>
    <ul>
      <li><a href="#">Учители</a></li>
      <li><a href="#">Новости</a></li>
      <li><a href="#">Библиотека</a></li>

      <li><a href="audio.html" class="active">Аудио</a></li>
      <li><a href="#">Видео</a></li>
      <li><a href="#">Фото</a></li>
      <li><a href="#">Форум</a></li>
      <li><a href="#">О сайте</a></li>
      <li><a href="#">Магазин</a></li>

      <li><a href="#">Контакты</a></li>
    </ul>
  </div>
</div>
