<div class="tab-container" id="tab-1">
  <div class="box reg">
    <form method="post" id="regist" data-remote="true" action="<%= users_path %>">
      <div class="errors">
      </div>

      <p class="r-tit">Логин</p>
      <div class="inp">
        <input type="text" name="user[login]">
      </div>

      <p class="r-tit">Email</p>
      <div class="inp">
        <input type="text" id="" name="user[email]">
      </div>

      <p class="r-tit">Пароль для сайта</p>
      <div class="inp">
        <input type="text" name="user[password]">
      </div>

      <p class="r-tit">
        <input type="checkbox" name="user[accept_rules]">
        <label for="lab1"> я принимаю</label> <a href="#">правила сайта</a>
      </p>

      <a href="#" class="butt">Зарегистрироваться</a>
      <div class="cl"></div>
    </form>
  </div>
</div>

