<div id="title-search">
  <% if @audio %>
    <h1>19. <%= @audio.title %> </h1>
  <% end %>

  <form action="">
    <div id="search_block">
      <input type="text" value="" id="search_txt" />
      <input type="submit" value="" title="Search" id="search_but" />
    </div>
  </form>
</div>
