<% sidebar do %>
  <div class="block lect">
    <div class="title">Лекции Учителей</div>
    <div class="text">
      <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->

        <li><a href="#"><img src="images/photo.png" alt="" width="88" height="119" /><span>Ачарья Махарадж</span></a></li>
        <li><a href="#"><img src="images/photo.png" alt="" width="88" height="119" /><span>Говинда Махарадж</span></a></li>
        <li><a href="#"><img src="images/photo.png" alt="" width="88" height="119" /><span>Шридхар Махарадж</span></a></li>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block lect">
    <div class="title">Лекции Проповедников</div>
    <div class="text">
      <ul><!-- Картинки придется формировать в форматах .png или .gif, т.к. требуются закругленный уголки. Рекомендую .png, т.к. в этом варианте качество лучше, вес меньше. -->
        <li><a href="#"><img src="images/photo.png" alt="" width="88" height="119" /><span>Ачарья Махарадж</span></a></li>
        <li><a href="#"><img src="images/photo.png" alt="" width="88" height="119" /><span>Говинда Махарадж</span></a></li>
      </ul>

    </div>
    <div class="bottom"></div>
  </div>

  <div class="block audios">
    <div class="title">Аудиокниги</div>
    <div class="text">
      <div class="item">
        <img src="images/photo.png" alt="" width="96" height="98" />

        <div class="name"><a href="#">Вайшнавские аудиокниги</a></div>
        <p>Бхагавад Гита, Шримад Бхагаватам и другие</p>
      </div>
      <div class="item">
        <img src="images/photo.png" alt="" width="96" height="98" />
        <div class="name"><a href="#">Вайшнавские идеи в произведениях классиков</a></div>
        <p>книги Льва Толстого, Достоевского, Чехова, Гюго и других мыслителей</p>

      </div>
    </div>
    <div class="bottom"></div>
  </div>

  <div class="block audios">
    <div class="title">Молитвы вайшнавов</div>
    <div class="text">
      <div class="item">

        <img src="images/photo.png" alt="" width="96" height="98" />
        <div class="name"><a href="#">Бхаджаны и киртаны</a></div>
        <p>молитвенные песни вайшнавской традиции</p>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
<% end%>
