<div id="header">
  <%= yield :before_logo %>
  <%= site_ppath %>
  <br />
  <br />
  <br />
  <% if params[:controller] == "main" && params[:action] == 'index' %>
  <% else %>
    <a href="/">На главную</a>
  <% end %>
  <%= yield :after_logo %>
</div>

