<div class="block tags">
  <div class="title">Теги</div>
  <div class="text">
    <table>

      <tr>
        <td class="tag">
          <a href="#">духовность</a>
          <a href="#">бхакти</a>
          <a href="#">аскеза</a>
          <a href="#">гуру</a>
        </td>

        <td class="type">
          <a href="#" class="active">Все теги</a>
          <a href="#">Персоналии</a>
          <a href="#">Бог</a>
          <a href="#">Душа</a>
          <a href="#">Писания</a>

          <a href="#">Духованая практика</a>
          <a href="#">Универсальные понятия</a>
        </td>
      </tr>
    </table>
  </div>
  <div class="bottom"></div>
</div>
