<div id="user-menu"><div id="user-menu_in"><div id="user-menu_in2">
      <ul id="user_left">
        <li><a href="#" title="My page">My page</a></li>
        <li><span class="numbers"><a href="#">23</a></span> <a href="#" title="Messages">Messages</a></li>
        <li><a href="#" title="Favorites">Favorites</a></li>
        <li><a href="#" title="History">History</a></li>
        <li><a href="#" title="Bookmarks">Bookmarks</a></li>
        <li><a href="#" title="Smart Playlist">Smart Playlist</a></li>
        <li><a href="#" title="Properties">Properties</a></li>
      </ul>
      <div id="user-info">
        Hi, <strong><%= current_user.login %></strong>!  [ <%= link_to 'exit', logout_path %> ]
      </div>
</div></div></div>
