<% html_class = "act" if event_type_item[:id] == @type %>
<% img_path = "events/#{event_type_item[:id]}.png" %>
<div class="pivot">
  <%= link_to(image_tag(img_path, :height => 119, :width => 88) + "<span>#{event_type_item[:title]}</span>".html_safe, events_type_path(event_type_item[:id]), :class => html_class) %>
</div>
