<% sidebar do %>
  <div class="block lect">
    <div class="title">О сайте</div>
    <div class="text">
      <%= menu_glance(:img => {:width => "86", :height => "120"}) do |m| %>
        <%= m.feedback_path "/images/contacts/feedback.png", '<span>Обратная связь</span>' %>
        <%= m.on_other_sites_path "/images/contacts/other.png", '<span><span class="white">Бхарати</span>.ру на других сайтах</span>' %>
        <%= m.contacts_links_path "/images/contacts/links.png", '<span>Ссылки</span>' %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
