<% sidebar do %>
  <div class="block lect">
    <div class="title">Контакты</div>
    <div class="text">
      <%= menu_glance(:icon => :feedback_icon, :text => :feedback_text) do |m| %>
        <%= m.feedback %>
        <%= m.on_other_sites %>
        <%= m.contacts_links %>
      <% end %>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
