<% sidebar do %>
  <div class="block lect">
    <div class="title">О сайте</div>
    <div class="text">
      <ul>
        <li><a href="#"><img width="86" height="120" alt="" src="images/about3.png"><span>Обратная связь</span></a></li>
        <li><a href="#"><img width="88" height="119" alt="" src="images/about1.png"><span><span class="white">Бхарати</span>.ру на других сайтах </span></a></li>
        <li><a href="#"><img width="91" height="123" alt="" src="images/about.png"><span>Ссылки</span></a></li>
      </ul>
    </div>
    <div class="bottom"></div>
  </div>
<% end %>
