<% render :partial => 'sidebar' %>

<div class="block">
  <div class="title">Бхарати.ру на других сайтах</div>
  <div class="text padd-right">
    <div class="pulley">
      <p><a href="http://saraswata.ru/" target="_blank"><img width="81" height="39" alt="" src="/images/contacts/sarasvata.png"></a></p>
      <p><a href="http://saraswata.ru/" target="_blank">http://saraswata.ru/</a></p>
    </div>
    <div class="pulley">
      <p><a href="http://www.vkontakte.ru/club15467879" target="_blank"><img width="41" height="39" alt="" src="/images/contacts/vk1.png"></a></p>
      <p><a href="http://www.vkontakte.ru/club15467879" target="_blank">www.vkontakte.ru/bharati_ru</a></p>
      <p><a href="http://www.vkontakte.ru/bharati_swami" target="_blank">www.vkontakte.ru/bharati_swami</a></p>
      <p>Группа ВКонтакте “Слушай свое сердце” </p>
    </div>
    <div class="pulley">
      <p><a href="https://www.facebook.com/bharati.ru" target="_blank"><img width="81" height="39" alt="" src="/images/contacts/fb_main.png"></a></p>
      <p><a href="https://www.facebook.com/bharati.ru" target="_blank">https://www.facebook.com/bharati.ru</a></p>
      <p>Группа в FaceBook “Слушай свое сердце” </p>
    </div>
    <div class="pulley back">
      <p><a href="http://www.twitter.com/bharati_ru" target="_blank"><img width="43" height="30" alt="" src="/images/contacts/twitt.png"></a></p>
      <p><a href="http://www.twitter.com/bharati_ru" target="_blank">www.twitter.com/bharati_ru</a></p>
      <p>Мысли о Красивом и Вечном, а также ссылки на философские события и 
        материалы в Twitter</p>
    </div>
  </div>
  <div class="bottom"></div>
</div>
