<div class="round">
  <div class="fir">
    {{author}} 
  </div>

  <%= image_tag "quot.gif", :width => "57", :height => "17", :alt => "" %>
  <div class="cl"></div>

  <div class="text">
    <p>{{quote}}<p>
  </div>
</div>
