<div class="top-l">
  <div class="top-r">
    <div class="top-c">
      <div class="sheet">
        <table>
          <tbody><tr>
              <td class="td1">Темы</td>
              <td class="td2">Автор</td>
              <td class="td3">Статистика</td>
              <td class="td4">Последнее сообщение</td>
            </tr>
        </tbody></table>
      </div>
    </div>
  </div>
</div>

<div class="center-col white">
  <div class="themes">
    <table><tbody>
      <%= render :partial => 'forum/posts/post', :collection => @posts %>
    </tbody></table>
  </div>
  <%= auth_link_to 'Новая тема', new_forum_topic_post_path(@topic), :class => 'new-th' %>

  <div class="cl"></div>
</div>
