<div class="top-l">
  <div class="top-r">
    <div class="top-c">
      <!-- tit -->
      <div class="tit">
        Создание новой темы
      </div>

      <div class="cl"></div>
    </div>
  </div>
</div>

<div class="center-col">
  <form id="create-post" method="post" action="<%= forum_topic_posts_path(@topic) %>">
    <div class="create">
      <div class="name">
        <div class="tp">Название темы:</div> 
        <% if @post.errors.on(:title)  %>
          <div class="rd warn"> укажите название темы</div>
        <% end %>
        <div class="cl"></div>
      </div>

      <div class="inp">
        <input type="text" name="post[title]" value="<%= @post.title %>">
      </div>

      <div class="name">
        <div class="tp">Ваше сообщение:</div>    
        <% if @post.errors.on(:body)  %>
          <div class="rd warn"> заполните поле для сообщения </div>
        <% end %>
        <div class="cl"></div>
      </div>

      <div class="t-area">
        <textarea cols="" name="post[body]" rows="" id=""><%= @post.body %></textarea>
      </div>

      <!-- butts -->
      <div class="buttons">
        <a href="#create">Создать тему</a>
        <a href="#cancel">Отмена</a>
        <div class="cl"></div>
      </div>
    </div>
  </form>
</div>
