<% render :partial => 'sidebar' %>

<% content_for :before_content_block do %>
  <div class="list-teach lect">
    <ul>
      <% @teachers.each do |teacher| %>
        <li> <%= teacher_li(teacher) %> </li>
      <% end %>
    </ul>
  </div>
  <div class="cl"></div>
<% end %>

<div class="block update">
  <div class="tabs">
    <ul class="tab2">
      <li><a class="active" href="#" rel="0"><b></b><u>Цитаты</u><i></i></a></li><li class="clear"><span><span></span></span></li>
      <li><a href="#" rel="1"><b></b><u>Подробная биография</u><i></i></a></li><li class="clear"><span><span></span></span></li>
    </ul>
  </div>

  <div id="tab-2" class="tab-container lastTab active">
    <div class="word">
      <% if @teacher.extracts.any? %>
        <%= @teacher.extracts.join('<br /><br />').html_safe %>
      <% end %>
    </div>
  </div>

  <div id="tab-1" class="tab-container audioTab">
    <div class="word">
      <%= t @teacher.bio %>
    </div>
  </div>
  
  <div class="bottom"></div>
</div>

