<li>
  <a class="thumb" name="leaf" href="<%= photo_thumb_url(photo, {:height => 475, :width => 875}) %>" title="Title #0">
    <%= photo_thumb(photo, {:height => 92, :width => 92, :thumb => true}, true) %>
  </a>
  <div class="caption">
    <div class="download">
    </div>
  </div>
</li>
