<div class="left-col pad21 pad0">
  <!-- top -->
  <div class="top-l">
    <div class="top-r">
      <div class="top-c">
        <div class="s-menu">
          <a class="act" href="#"><span>ОБО МНЕ</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="center-col font">
    <div class="about">
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2"><%= avatar(current_user) %></td>
              <td>
                <form method="POST" id="form-photo" enctype="multipart/form-data" action="<%= forum_profile_path %>">
                  <div class="fffile">
                    <div id="mask">
                      <input type="text" id="fileInputText">
                    </div>
                    <input type="file" name="user[photo_file]" onchange="document.getElementById('fileInputText').value = this.value;" size="49" id="fileInput">
                  </div>
                  <div class="descr">
                    Максимальный размер 700k. JPG, GIF, PNG.  
                    В случае возникновения проблем попробуйте 
                    загрузить фотографию меньшего размера.
                  </div>
                  <a class="refresh submit" href="#">Обновить фото</a>
                </form>
              </td>
            </tr>
        </tbody></table>
        <div class="desp">
          Фото
        </div>
      </div>
      <div class="line"></div>
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2">Пол:</td>
              <td>
                <select id="">
                  <option selected="selected" value="">женский</option>
                  <option value="">женский</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td2">День рождения:</td>
              <td>
                <div class="inp">
                  <input type="text" onblur="javascript:if(this.value=='')this.value='22'" onfocus="javascript:if(this.value=='22')this.value=''" value="22" id="you_proj_input">
                </div>
                <div class="inp1">
                  <input type="text" onblur="javascript:if(this.value=='')this.value='ноябрь'" onfocus="javascript:if(this.value=='ноябрь')this.value=''" value="ноябрь" id="you_proj_input">
                </div>
                <div class="inp2">
                  <input type="text" onblur="javascript:if(this.value=='')this.value='1987'" onfocus="javascript:if(this.value=='1987')this.value=''" value="1987" id="you_proj_input">
                </div>
                <div class="cl"></div>
              </td>
            </tr>
            <tr>
              <td class="td2">Религиозные взгляды:</td>
              <td>
                <div class="inp3">
                  <input type="text" id="">
                </div>
              </td>
            </tr>
        </tbody></table>
        <div class="desp">
          Основное
        </div>
      </div>
      <div class="line"></div>
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2">О себе:</td>
              <td><div class="are"><textarea cols="" rows="" id=""></textarea></div></td>
            </tr>
            <tr>
              <td class="td2">Деятельность:</td>
              <td><div class="are"><textarea cols="" rows="" id=""></textarea></div></td>
            </tr>
            <tr>
              <td class="td2">Интересы:</td>
              <td><div class="are"><textarea cols="" rows="" id=""></textarea></div></td>
            </tr>
            <tr>
              <td class="td2">Чем мне нравится Бхарати.ру:</td>
              <td><div class="are1"><textarea class="ar1" cols="" rows="" id=""></textarea></div></td>
            </tr>
        </tbody></table>
        <div class="desp">
          О себе
        </div>
      </div>
      <div class="line"></div>
      <div class="box">
        <table>
          <tbody><tr>
              <td class="td2">Страна:</td>
              <td>
                <select id="">
                  <option selected="selected" value="">Россия</option>
                  <option value="">Россия</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td2">Город:</td>
              <td>
                <select id="">
                  <option selected="selected" value="">Москва</option>
                  <option value="">Москва</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td2">Е-mail:</td>
              <td>
                <div class="inp3">
                  <input type="text" onblur="javascript:if(this.value=='')this.value='ххххх@gmail.com'" onfocus="javascript:if(this.value=='ххххх@gmail.com')this.value=''" value="ххххх@gmail.com" id="you_proj_input">
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Мобильный телефон:</td>
              <td>
                <div class="inp3">
                  <input type="text" id="">
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Скайп:</td>
              <td>
                <div class="inp3">
                  <input type="text" id="">
                </div>
              </td>
            </tr>
            <tr>
              <td class="td2">Личный сайт:</td>
              <td></td>
            </tr>
        </tbody></table>
        <div class="desp">
          Контакты
        </div>
      </div>
      <div class="line"></div>
      <div class="butts">
        <a href="#">Сохранить</a>
        <a href="#">Отмена</a>
        <div class="cl"></div>
      </div>
    </div>
  </div>
  <div class="bot"></div>
</div>
